<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.hui.springaop"/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--接口-->
        <property name="interfaces" value="com.hui.springaop.mytest.Love" />
        <!--实现-->
        <property name="target" ref="greetingImpl"/>
        <property name="interceptorNames" value="loveAdvice"/>
        <property name="proxyTargetClass" value="true"/>
    </bean>

   <!-- <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        &lt;!&ndash;接口&ndash;&gt;
        <property name="interfaces" value="com.hui.springaop.mytest1.Greeting" />
        &lt;!&ndash;实现&ndash;&gt;
        <property name="target" ref="greetingImpl"/>
        &lt;!&ndash;拦截器&ndash;&gt;
        <property name="interceptorNames" value="greetingAroundAdvice"/>
    </bean>-->

</beans>
