<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                             http://www.springframework.org/schema/beans/spring-beans.xsd
                              http://www.springframework.org/schema/aop
                             http://www.springframework.org/schema/aop/spring-aop.xsd
                             http://www.springframework.org/schema/context
                             http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.hui.springaop"/>
    <!-- 启用Spring对基于@AspectJ aspects的配置支持 -->
    <!-- 激活自动代理功能 -->
   <!-- <aop:aspectj-autoproxy proxy-target-class="true"/>-->
    <bean id="helloWorldImpl1" class="com.hui.springaop.mytest2.HelloWorldImpl1" />
    <bean id="helloWorldImpl2" class="com.hui.springaop.mytest2.HelloWorldImlp2" />
    <!--配置一个切面对应bean-->
    <bean id="timeHandler" class="com.hui.springaop.mytest2.TimeHandler" />

    <!--配置一个切面-->
    <aop:config>
        <!--引用切面bean-->
        <aop:aspect id="time" ref="timeHandler">
            <!--引入点表达式，切点的配置-->
            <aop:pointcut id="addAllMethod" expression="execution(* com.hui.springaop.mytest2.HelloWorld.*(..))" />
            <!--配置前置通知-->
            <aop:before method="printTime" pointcut-ref="addAllMethod" />
            <!--配置后置通知-->
            <aop:after method="printTime" pointcut-ref="addAllMethod" />

        </aop:aspect>
    </aop:config>

</beans>