<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/task
	        http://www.springframework.org/schema/task/spring-task.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">


    <import resource="mongoContext.xml"/>

    <!-- 核心的线程池 -->
    <bean id="taskScheduler" scope="singleton" init-method="initialize"
          destroy-method="destroy"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="daemon">
            <value type="boolean">false</value>
        </property>
        <property name="poolSize">
            <value type="int">10</value>
        </property>
        <property name="threadNamePrefix" value="data720-task-thread-"/>
    </bean>

</beans>