<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 核心的线程池 -->
    <bean id="taskScheduler" scope="singleton" init-method="initialize"
          destroy-method="destroy"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="daemon">
            <value type="boolean">false</value>
        </property>
        <property name="poolSize">
            <value type="int">10</value>
        </property>
        <property name="threadNamePrefix" value="data720-task-thread-"/>
    </bean>

    <!-- 自动将控制器加载到bean -->
    <context:component-scan base-package="com.sdyc.*">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RequestMapping"/>
    </context:component-scan>
</beans>